
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 10em; 
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9em;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop, main {
    width: 95%;
    margin: auto;
}

.BarraTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2em 0;
}

.logo {
    height: 7em;
    width: auto;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;

    a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.625em 1.5em;
        transition: 0.3s ease;
    }

    a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
    }

    #icono {
       margin: auto;
    }

    #carrito {
        position: relative;

        #contador {
            position: absolute;
            right: 0.5em;
            top: 0.2em;
            border-radius: 2em;
        }
    }
}


#contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #FDCD00;
    margin-top: 4em;

    p{
        margin: 0.5em 0;
        font-size: 1em;
    }
}

#contenido{
    padding: 1em;

    @media (max-width:860px) {
        margin: 0;
    }
    
    .tarjeta{
        background-color: #fdf0b3;
        padding: 1em;
        border-radius: 1em;
        
        .imagenProducto{
            width: 10em;
            height: 10em;
            border-radius: 1em;
            margin-left: 1.45em;
            margin-bottom: 0.7em;
        }
        
        p{
            margin-top: 0.5em;
            font-size: 1.2em;
        }
        
        .ponerCarro{
            text-decoration: none;
            color: black;
            font-size: 1.2em;
            font-weight: bold;
            padding: 0.625em 1em;
            transition: 0.3s ease;
            border-radius: 2em; 
            margin-top: 1em;
            

            
        }
        .ponerCarro:hover{
            background-color: #FDCD00;
            color: black;
            border-radius: 2em;
            cursor: pointer;
        }
        
        .ponerCarro:active{
            background-color: #b87f25;
        }
    }

}

.alertaNoti{
    position: fixed;
    display: none;
    top: 0.5em;
    right: 0.5em;
    justify-content: center;
    border-radius: 0.6em;
    border: 1px solid #d1d5db;
    box-shadow: 0 0.2em 0.4em rgb(0, 0, 0, 0.5);
    
    #alertContent{
        align-items: center;
        display: flex;
        gap: 1em;
        justify-content: center;
    }
    
    #alertIcon{
        background-color: #17a34a;
        padding: 0.5em;
        border-radius: 0.5em 0 0 0.5em;
    }

    #alertClose{
        padding: 0.5em;
    }

    #alertClose:hover{
        cursor: pointer;
        background-color: #d1d5db;
        border-radius: 0 0.5em 0.5em 0;
    }

    .checkIcon, .closeIcon{
        width: 1.5em;
    }
}

.show{
    display: block;
    animation: slide-in 1s forwards ;
}

.hide{
    display: block;
    animation: slide-out 1s forwards ;
}

.remove{
    display: none;
}

@keyframes slide-in {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(-150%);
    }
}