
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 10em; 
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9em;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop, main {
    width: 90%;
    max-width: 69em;
    margin: auto;

}

.BarraTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2em 0;
}

.logo {
    height: 8em;
    width: auto;
}

nav {
    display: flex;
    gap: 1em;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1em;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}


.contenedor{
    width: 30%;
    max-width: 69em;
    margin: auto;
    padding: 2em 0;
    background-color: beige;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #FDCD00;
    margin-top: 4em;

    p{
        margin: 0.5em 0;
        font-size: 1em;
    }
}
