
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    transition: 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
}

.header2{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;

    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop, main {
    width: 100%;
    margin: auto;
    padding: 0 2em 0 2em;
}
.BarraTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.buscador{
    padding: 0 0 0 2em;
    width: 100%;

}

#search{
    font-size: 1.2em;
    height: 2em;
    border-radius: 2em;
    border: 1px solid black;
    padding-left: 1em;
    width: 100%;
    min-width: 9.4em;
}


.logo {
    height: 4.5em;

}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1.5em;

    white-space: nowrap 
}

a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}

#carrito {
    position: relative;
}

#contador {
    position: absolute;
    right: 0.4em;
    top: -0.3em;
    border-radius: 2em;
}


main {
    margin: 2em 0;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #FDCD00;
    margin-top: 4em;
}

p{
    margin: 0.5em 0;
    font-size: 1em;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    row-gap: 4em;
    margin: 0 3em;
}



.tarjeta{
    background-color: #fdf0b3;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
    flex-grow: 1;
}
    
.imgContainer{
    margin: 0.3em auto;
    text-align: center;

}
.imagenProducto{
    width:  10em;
    aspect-ratio: 1 / 1;
    border-radius: 1em;
}

.tarjeta p{
    margin-top: 0.5em;
    font-size: 1.1em;
}

.tarjeta h2{
    margin-top: 0.5em;
    font-size: 1.4em;
}

.ponerCarro, .disabledButton{
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 0.625em 1em;
    border-radius: 2em; 
    margin-top: 0.5em;
    width: 100%;
    box-shadow: 0 0.15em 0em rgb(0, 0, 0, 0.5);
    transition: none;
}
.ponerCarro:hover{
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
    cursor: pointer;
}
    
.ponerCarro:active{
    background-color: #b87f25;
    transform: translateY(0.1em);
    box-shadow: 0 0em 0em rgb(0, 0, 0, 0.5);
    
}

.alertaNoti{
    position: fixed;
    display: none;
    top: 0.5em;
    right: 0.5em;
    justify-content: center;
    border-radius: 0.6em;
    border: 1px solid #d1d5db;
    box-shadow: 0 0.2em 0.4em rgb(0, 0, 0, 0.5);
    background-color: white;
    transition: 0.3s ease;
}
    
#alertContent{
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: center;
}

#alertIcon{
    background-color: #17a34a;
    padding: 0.5em;
    border-radius: 0.5em 0 0 0.5em;
}

#alertClose{
    padding: 0.5em;
}

#alertClose:hover{
    cursor: pointer;
    background-color: #d1d5db;
    border-radius: 0 0.5em 0.5em 0;
}

.checkIcon, .closeIcon{
    width: 1.5em;
}

@media (max-width:1280px) {
    .header2 {
        width: 100%;
        margin-left: 0;
        padding: 0 0;
    }
        
    .BarraTop{
        background-color: #F7F7F7;
        padding: 1em 2em;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}   

@media (max-width:768px) {
    p{
        font-size: 0.75em;
    }
    .logo{
        height: 3em;
    }

    .buscador{
        padding: 0;
    }

    nav{
        gap: 0.5em;
    }

    main{
        padding: 0;
        margin-top: 1em;
    }

    #search{
        font-size: 1em;
        
    }

    a{
        font-size: 1em;
        padding: 0.625em 0.5em;
    }
    .BarraTop{
        padding: 1em;
    }
    
    .imagenProducto{
        width: 9em;
    }

    .info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
    .tarjeta p{
        margin-bottom: 0;
        font-size: 0.9em;
    }

    .tarjeta h2{
        font-size: 1.2em;
    }

    .ponerCarro, .disabledButton{
        margin-top: 1em;
        min-height: 3em;
        font-size: 0.85em;
    }

    #contenido{
        gap: 1.5em;
        row-gap: 3em;
    }

    #contador {
        right: -0.3em;
    }
}

@media (max-width:480px) {
    .tarjeta{
        display: flex;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1em;
        padding: 0.2em 0.5em;
        min-width: 16em;
    }
    .txtNav{
        display: none;
    }
    .logo{
        height: 2em;
    }
    .BarraTop{
        padding: 0.7em 0.5em;
        overflow: scroll;
    }
    .tarjeta p{
        margin: 0 0 0.3em 0;
        font-size: 0.6em;
    }

    .tarjeta h2{
        margin-bottom: 0.3em;
        font-size: 0.8em;
    }

    .imagenProducto{
        width: 5.5em;
    }

    #contenido{
        gap: 1em;
    }
    
    #search{
        font-size: 0.7em;
    }
    
    .info{
        flex-shrink: 0.3;
    }

    .ponerCarro, .disabledButton{
        font-size: 0.6em;

        
    }
    .BarraTop{
        gap: 0.2em;
    }
    nav{
        gap: 0;
    }
    
    footer{
        font-size: 0.5em;
    }
}

/*Esto de abajo es para estados y animaciones*/
.disabledButton{
    background-color: #ff6229;
}

.show{
    display: block;
    animation: slide-in 0.5s forwards ;
}

.showDiv{
    display: block;
    /*animation: slide-inItem 0.3s forwards;*/
}

/*.hideDiv{
    animation: slide-outItem 0.4s forwards;
}
}*/

.hide{
    display: block;
    animation: slide-out 0.5s forwards ;
}
.remove{
    display: none;
}

@keyframes slide-in {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(-150%);
    }
}

@keyframes slide-inItem {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-outItem {
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}