
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 10em; 
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9em;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop, main {
    width: 95%;

    margin: auto;

}

.BarraTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2em 0;
}

.logo {
    height: 7em;
    width: auto;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}



nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1.5em;
    transition: 0.3s ease;
}

#icono{
   margin: auto;
   
}
nav a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}


#contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #FDCD00;
    margin-top: 4em;

    p{
        margin: 0.5em 0;
        font-size: 1em;
    }
}

.imagenProducto{
    width: 10em;
    height: 10em;
    margin-left: 1.45em;
    border-radius: 1em;
}

.ponerCarro{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1em;
    transition: 0.3s ease;
    border-radius: 2em; 

}
.ponerCarro:hover{
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}

.ponerCarro:active{
    background-color: #b87f25;
    color: black;
    border-radius: 2em;
}

#contador{
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    border-radius: 2em;
}

#carrito{
    position: relative;

}

#contenido{
    padding: 1em;
}

.tarjeta{
    background-color: #fdf0b3;
    padding: 1em;
    border-radius: 1em;
}