* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    transition: 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
}

.header2{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;

    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop, main {
    width: 100%;
    margin: auto;
    padding: 0 2em 0 2em;
}
.BarraTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.logo {
    height: 4.5em;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1em;
}

nav a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}

#listaproductos {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    padding-top: 1px;
    
    margin: 0 2em;
    background: #fdf0b3;
    text-align: center;
}

h1{
    padding: 1em;
    margin: 0.75em 1em;
    border-top: 0.2em solid #FDCD00;
    border-bottom: 0.2em solid #FDCD00;
}

.CarritoVacio{
    width: 10em;
    height: auto;
    margin-top: 1em;
}


.producto {
    display: flex;
    flex-direction: row;
    font-size: medium;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;

    .imagenProducto{
                width: 10em;
                height: 10em;
                border-radius: 1em;
                margin: 2em 0 0 1.5em;
            }

    .infoProducto{
        width: 14em;
        line-height: 1.8em;
        padding-top: 1.8em;
        font-size: 1.2em;
    }

    .containerBotones{
        margin: 1.8em 1.5em 0 0;

    }
    
    .quitar, .agregar, .eliminar{
        font-size: 1.8em;
        margin: 0.6em 0.8em 0.6em 0;
        width: 2em;
        height: 1.4em;
        cursor: pointer;
        border-radius: 2em;
        box-shadow: 0 0.1em 0em rgb(0, 0, 0, 0.5);
    }
    
    .agregar:hover, .quitar:hover{
        background-color: #FDCD00;
        
    }
    .agregar:active, .quitar:active, .eliminar:active{
        background-color: #b87f25;
        transform: translateY(0.1em);
        box-shadow: 0 0em 0em rgb(0, 0, 0, 0.5);
    }

    .eliminar:hover{
        background-color: #ff6229
    }

    .eliminar:active{
        background-color: red;
    }
}
#empty{
    width: 50em;
    padding: 1.5em 2em 1.5em 2em;
    border-radius: 0 0 2em 2em;
    margin: auto auto auto auto;
    line-height: 3em;

    @media (max-width:840px){
        width: 95%;
    }
}
#payresult{
    background-color: #fdf0b3;
    width: 50em;
    padding: 1.5em 2em 1.5em 2em;
    border-radius: 0 0 2em 2em;
    margin: auto auto 10em auto;
    line-height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    @media (max-width:840px){
        width: 95%;
    }
    .pagar{
        font-size: 1.8em;
        margin: 0.6em 0.8em 0.6em 0;
        width: 100%;
        height: 1.4em;
        cursor: pointer;
        border-radius: 2em;
        padding: 0.5em 0.5em 0.5em 0.5em;
        background-color: #F7F7F7;
        box-shadow: 0 0.1em 0em rgb(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1280px) {
    .header2 {
        width: 100%;
        margin-left: 0;
        padding: 0 0;
    }
        
    .BarraTop{
        background-color: #F7F7F7;
        padding: 1em 2em;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}   

@media (max-width:768px) {
    .logo{
        height: 3em;
    }

    .buscador{
        padding: 0;
    }

    nav{
        gap: 0.5em;
    }

    main{
        padding: 0;
        margin-top: 1em;
    }

    #search{
        font-size: 1em;
        
    }

    nav a{
        font-size: 1em;
        padding: 0.625em 0.5em;
    }
    .BarraTop{
        padding: 1em;
    }
    
    .imagenProducto{
        width: 9em;
    }

    .info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
    .tarjeta p{
        margin-bottom: 0;
        font-size: 0.9em;
    }

    .tarjeta h2{
        font-size: 1.2em;
    }

    .ponerCarro, .disabledButton{
        margin-top: 1em;
        min-height: 3em;
        font-size: 0.85em;
    }

    #contenido{
        gap: 1.5em;
        row-gap: 3em;
    }

    #contador {
        right: -0.3em;
    }
    #contador p{
        font-size: 0.75em;
    }
}

@media (max-width:480px) {
    .tarjeta{
        display: flex;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1em;
        padding: 0.2em 0.5em;
        min-width: 16em;
    }
    .txtNav{
        display: none;
    }
    .logo{
        height: 2em;
    }
    .BarraTop{
        padding: 0.7em 0.5em;
        overflow: scroll;
    }
    .tarjeta p{
        margin: 0 0 0.3em 0;
        font-size: 0.6em;
    }

    .tarjeta h2{
        margin-bottom: 0.3em;
        font-size: 0.8em;
    }

    .imagenProducto{
        width: 5.5em;
    }

    #contenido{
        gap: 1em;
    }
    
    #search{
        font-size: 0.7em;
    }
    
    .info{
        flex-shrink: 0.3;
    }

    .ponerCarro, .disabledButton{
        font-size: 0.6em;

        
    }
    .BarraTop{
        gap: 0.2em;
    }
    nav{
        gap: 0;
    }
    
    footer{
        font-size: 0.5em;
    }

    #buscadorVacio{ 
        line-height: 1em;
    }

    #buscadorVacio p{
        font-size: 0.7em;
    }

    #buscadorVacio h2{
        font-size: 1em;
    }

    .nadaEncontrado{
        width: 5em;
    }
}
