* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 10em;
    background-color: white;
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9em;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 69em;
    margin: auto;
}

.logo {
    height: 7em;
    width: auto;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1em;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}



#containergrande {
    
    width: 100%;
    height: 100%;
    
}


#listaproductos {
    padding: 0 0 1em 0;
    border-radius: 2em 2em 0 0;
    margin: auto;
    background: #fdf0b3;
    font-weight: bold;
    color: black;
    width: 50em;
    height: auto;
    justify-content: space-around;
    text-align: center;

    h1{
        padding: 1em;
        border: 0.5em solid #FDCD00;
        border-radius: 1em 1em 0 0;
    }

    @media (max-width:840px){
        width: 95%;
    }
}

.producto {
    display: flex;
    flex-direction: row;
    font-size: medium;
    align-items: center;
    gap: 3em;

    .imagenProducto{
                width: 10em;
                height: 10em;
                border-radius: 1em;
                margin: 2em 2em 0 2em;
            }

    .infoProducto{
        width: 12em;
        line-height: 1.8em;
        padding-top: 1.8em;
        font-size: 1.2em;
    }

    .containerBotones{
        margin-top: 1.8em;
        background-color: rebeccapurple;
    }
    
    .quitar, .agregar{
        font-size: 1.8em;
        margin: 1em;
        width: 2em;
        height: 1.4em;
        cursor: pointer;

    }

    .agregar{

    }
}

#payresult{
    background-color: #FDCD00;
    width: 50em;
    padding: 2em;
    border-radius: 0 0 2em 2em;
    margin: auto auto 10em auto;

    @media (max-width:840px){
        width: 95%;
    }
}