* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 10em;
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9em;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

.BarraTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 69em;
    margin: auto;
}

.logo {
    height: 8em;
    width: auto;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1em;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}

main {}

#containergrande {

    width: 100%;
    height: 40em;
    color: #F7F7F7;
    background-color: #FDCD00;
    display: flex;
    flex-direction: row;
}


#listaproductos {
    padding-top: 1em;
    border-radius: 2em;
    margin: auto;
    background: #F7F7F7;
    font-weight: bold;
    font-size: large;
    color: black;
    width: 50em;
    height: 30em;
    justify-content: space-around;
    text-align: center;
}


.producto {
    display: flex;
    flex-direction: row;
    font-size: medium;
    justify-content: center;
}

.producto p{
    text-align: center;
    padding-top: 3px;
}



