* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 10em;
    background-color: white;
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9em;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 1em;
    background-color: #fdf0b3;
    border-radius: 1em;
    }
#VentasContainer{
   background-color: #fdf0b3;
    width: 100%;
    max-width: 60em;
    margin: auto;
    border-radius: 1em;
    height: 25em;
}
#resumen-pago{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}
#btnConfirmarFinal {
    background-color: #27ae60;
    color: white;
    padding: 1.2em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1.7em;
    width: 100%; 

}

#btnConfirmarFinal:hover {
    background-color: #219150; 
}
.BarraTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 69em;
    margin: auto;
}

.logo {
    height: 7em;
    width: auto;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.625em 1em;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}
#containergrande{
     width: 100%;
    height: 100%;
}

.metodoPagoBoton:hover {
    background-color: #FDCD00;
    color: black;
    border-radius: 2em;
}
#Metodo {
    display: flex;
    justify-content: center;
    gap: 1.25em;
    margin-top: 2em;
}
.metodoPagoBoton {
    background-color: white;
    border: 0.125em solid #FDCD00;
    border-radius: 2em;
    padding: 2em;
    cursor: pointer;
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgMetodo {
    width: 10em;
    height: 10em;
    margin-bottom: 10px;
}
.pago-efectivo-caja{
    border-radius: 2em;
    justify-items: center;
    text-align: center;

}
.pago-efectivo-caja input {
    height: 1.3em;
    font-size: 1.2em;
    border-radius: 1em;
    border: 1px solid black;
    width: 40%;
}